.dropdown {
  max-height: 100%;
  background-color: #08142C;
}

.dropbtn {
  width: 111px;
  height: 70px;
  border: none;
  outline: none;
  font-family: "Stolzl Thin";
  font-size: 18px;
  background-color: #08142C;
  color: white;
  margin: 0;
}

.main-lang {
  display: flex;

}

.lang-arrow, .main-lang-p, .main-lang-flag {
  margin-top: 24px;
}

img.lang-arrow {
  margin-left: 18px;
  margin-right: 2px;
  padding-top: 2px;
}

p.main-lang-p {
  margin-right: 6px;
}

.main-lang-flag {
  width: 29px;
  height: 19px;
}

.dropdown:hover .dropbtn {
  background-color: #2857B4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #08142C;
  width: 111px;
  height: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Stolzl Thin";
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.dropdown-lang {
  padding: 8px 0 8px 30px; 
  /* padding-top: 15px; */
  /* padding-left: 30px; */
  display: flex;
}

.dropped-flag {
  width: 29px;
  height: 19px;
  padding-left: 6px;
}

.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-lang:hover {
  background-color: #2857B4;
}

.dropdown:hover .dropdown-content {
  display: block;
}